* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-align: center;
}
#MyButton {
  padding: 5px 25px;
  font-size: 3em;
  border-radius: 8px;
}
#MyLabel {
  font-size: 3em;
}
